<div class="outer-div">
  <div class="carousel-div">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner carousel-gradient">
        <div class="carousel-item active " data-bs-interval="10000">
          <img src="https://firebasestorage.googleapis.com/v0/b/exoticlanka-49882.appspot.com/o/young-beautiful-hipster-couple-riding-motorbike-city-street%20(1)%20copy.jpg?alt=media&token=897af726-b489-4882-b7a5-1fbef70d0983" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://firebasestorage.googleapis.com/v0/b/exoticlanka-49882.appspot.com/o/helmet-with-vintage-motorcycle%20copy.jpg?alt=media&token=bcced0d6-4384-41c2-a4f0-2446a0de5d26" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://firebasestorage.googleapis.com/v0/b/exoticlanka-49882.appspot.com/o/young-handsome-man-posing-near-his-motorbike-countryside-road.jpg?alt=media&token=2d71f857-0dca-456a-9362-4320f9af77cc" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>
